<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Temukan Restoran Favorit Anda Disini, Gratis!"
    />
    <title>Yof Resto</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="app.webmanifest">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!--feather icons-->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <header>
      <a href="#main" class="skip-link" role="button">Lewati ke Konten Utama</a>
      <!--Navbar Start-->
      <nav class="navbar">
        <div class="navbar-menu">
          <button href="#" id="hamburger-menu">
            <i data-feather="menu"></i>
          </button>
          <div class="navbar-nav">
            <h1 class="logo-top">Restaurant Apps</h1>
            <a class="anchor" href="/">Home</a>
            <a class="anchor" href="#/favorite">Favorite</a>
            <a
              class="anchor"
              href="https://www.linkedin.com/in/muhammad-yofan-haditama-soepandi-5176aa16b/"
              >About Us</a
            >
          </div>
        </div>
      </nav>
      <!--Navbar End-->
    </header>
    <!--Main Start-->
    <main id="main" tabindex="0">
    </main>
    <!--footer-->
    <footer>
      <strong> Copyright © 2020 - Yofan Haditama </strong>
    </footer>
    <!--feather icons-->
    <script>
      feather.replace();
    </script>
  </body>
</html>

